<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DETLAHES DO CURSO</title>
    <link rel="stylesheet" type="text/css" href="detalhes.css">
</head>
<body>
    <center><h4>DETALHES DO CURSO</h4></center>
    <hr/>

    <a href="/">HOME</a></br>

<CENTER>    <p>WEB DESIGNER</p>
    <img src="static/imagem1.jpg" width="600" height="350">
    <BR/>
    <P2>Esta profissão envolve a criação de layouts, banners, projetos,
        scripts e melhoramento da estrutura dos sites. <BR/>Os softwares mais
        utilizados pelos web designers são o Adobe Photoshop, Fireworks
        e Illustrator para geração de imagens;<BR/> Adobe Dreamweaver para
        trabalho com CSS e linguagens de marcação.</P2>
        <br/>
        <hr/>
        <P>MANUTENÇÃO DE COMPUTADORES</P>
        <img src="static/imagem2.jpg" width="600" height="350">
        <br/>
        <p2>Executa configurações de sistema operacional, realiza limpeza
            e conservação dos equipamentos.<br/> Faz testes preventivos opera-
            cionais e de segurança nos equipamentos e demais periféricos.<br/>
            Realiza atendimentos de manutenção em postos externos, faz
            emissão <br/> de relatórios técnicos de visitas e laudos de atendimen-
            to de manutenção.</p2>
            <br/>
            <hr/>

        <p>SISTEMA DE INFORMAÇÃO</p>
        <img src="static/imagem3.jpg" width="600" height="350">
        <BR/>
        <P2>O objetivo do curso é formar profissionais capazes de atuar na
            área de Tecnologia da Informação,<BR/> criando soluções tecnológicas
            para determinar o fluxo de informações.<BR/> O foco do curso está no
            desenvolvimento de software e no gerenciamento de sistemas infor-
            matizados.</P2>
            <BR/>
            <hr/>
            <P>CIÊNCIAS DA COMPUTAÇÃO</P>
            <img src="static/imagem4" width="600" height="350">
            <br/>
            <p2>Analisa as necessidades dos usuários, desenvolve softwares e apli cativos, gerencia equipes<br/> de criação e instala sistemas de computação. Cria ferramentas de informática, dos softwares mais básicos,<br/>
                como os usados para controle de estoques, até os mais complexos
                sistemas de processamento de informações.</p2>
    </CENTER>


    
</body>
</html>