<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Disciplina</title>
    <link rel="stylesheet" type="text/css" href="static/disciplina.css">
</head>
<body>
    <center><strong><h3>DISCIPLINAS</h3></strong></center>
    <hr/>
    <a href="/">HOME</a></br>
<CENTER><p>INTRODUÇÃO A INFORMATICA</p>
<img src=""width="460" height="250" />
<br/>

<p1>É um curso que reúne alguns assuntos que avaliamos como importantes <br/>a uma pessoa que deseja iniciar o aprendizado no mundo da informática <br/>e a como utilizar os componentes do computador.</p>
 <hr/>
 <p>LOGICA DE PROGRAMAÇÃO</p>
 <img src="static/imagem5.jpg"width="460" height="330" />
</br>

 <p2>É a técnica de desenvolver sequências lógicas para atingir um
        determinado objetivo.<br/> Essas sequências lógicas são adaptadas
        para linguagem de computador pelo programador</br> a fim de produzir software. Uma sequência lógica é denominada algoritmo.</p2>
<hr/>

<p>HTML</p>

<img src="static/imagem6.jpg"width="400" height="200">
<br/>

<p2>É o componente básico da web, ele permite inserir o conteúdo<br/>
        e estabelecer a estrutura básica de um website.<br/> Portanto, ele serve para dar significado e organizar as informações<br/> de uma página na web. Sem isso, o navegador não saberia<br/> exibir textos como
        elementos ou carregar imagens e outros conteúdos.</p2>
<hr/>
<p>ARQUITETURA DE COMPUTADORES</p>

<img src="static/imagem7.jpg"width='400' height="300">
<br/>

<p2>É o projeto conceitual e fundamental da estrutura operacional
        <br/>de um sistema computacional. Ela é o estudo dos requisitos<br/> necessários para que um computador funcione e de como organizar
        <br/>os diversos componentes para obter melhores desempenhos.</p2>
<hr/>
<p>FUNDAMENTOS DE SISTEMAS OPERACIONAIS</p>
<img src="static/imagem8.jpg"width='500' height="300">
<br/>
<p2>É o conjunto de programas que fazem a interface do usuário e
        seus programas<br/> com o computador. Ele é responsável pelo gerenciamento de recursos e periféricos<br/> (como memória, discos, arqui-
        vos, impressoras, CD-ROMs, etc.),<br/> interpretação de mensagens e
        a execução de programas.</p2>
</CENTER>

</body>


</html>