<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>School Tecnology</title>
    <link rel="stylesheet" type="text/css" href="static/estilo.css">

</head>


<body>
    <center><h2>School Tecnology</h2></center>
    <hr/>
    <img src="static/banner.jpg" width="1080" height="250" />
    
    <BR> <a href='/'>HOME</a></br>
    <br><a href="disciplina.html">DISCIPLINA</a></br>
    <br><a href="detalhes.html">DETALHES DE CURSO</a></br>
    <br><a href="lista.html">LISTA DE CURSOS</a></br>
    <br> <a href="noticia.html">NOTICIAS</a></br>


</body>





</head>




</html>