<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notícias</title>
    <link rel="stylesheet" type="text/css" href="static/noticia.css">

</head>
<body>
   <center><h1>NOTÍCIAS</h1></center>
   <hr/>
   <a href="/">HOME</a></br>
<center>
   <p>Como usar a tecnologia para tornar os negócios inteligêntes e conectados.</p>
    <img src="static/imagem9.jpg" width="700" height="300">
    <br/>

    <p2>O mundo está ficando cada vez mais digital; processos que antes
            eram completamente manuais<br/> hoje não sobreviveriam sem o auxílio de máquinas. Por isso, também é cada vez mais frequente<br/> veremos os investimentos das grandes companhias em plataformas que
            possam otimizar todo </br>e qualquer processo dentro de suas instalações,
            sejam eles para o público interno ou externo da empresa.</p2>
    
    <P>Acordo com Pentágono impulsionará posição da Microsoft em computação em nuvem, dizem analistas</P>

   <img src="static/imagem10.jpg" width="600" height="340">
   <br/>

   <p2> liderança da Amazon no mercado de computação em nuvem pode ser ameaçada pelo contrato<br/> de vários bilhões de dólares acertado entre Microsoft e o Pentágono, disseram analistas de Wall Street nesta segunda-feira (28).<br/>

    Na semana passada, a Microsoft ganhou o contrato do Pentágono denominado Projeto Conjunto de Defesa em Infraestrutura <br/>de Nuvem (JEDI, na sigla em inglês) que vale US$ 10 bilhões ao longo de 10 anos, superando a favorita AWS, subsidiária de computação em nuvem da Amazon.</p2>

    <p>Apple aposta em dispositivos de casa inteligente</p>
    <img src="static/imagem11.jpg" width="600" height="350">
    <br/>
    <p2>A Apple está iniciando contratações para uma equipe focada em novos softwares e dispositivos de casa inteligente,<br/> com a intenção de aproximar-se de seus concorrentes, Google e Amazon, segundo informa a Bloomberg.</p2>

</center>
</body>

</html>